* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F4F430;
}

/* Wrapper du header */
.wrapper-header {
    background-color: yellow;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.header-btn {
    color: #000; 
    font-weight: bold; 
    text-decoration: none; 
    text-transform: uppercase;
}

#first-btn {
    margin-right: 50px;
}

.one-player {
    border: 1px solid #000;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 10px ;

}

.player-photo {
    width: 200px;
} 

.info-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.blockify {
    display: block;
}